body {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  background-color: rgb(237,239,236);
}

header{
  display: flex;
}

footer {
  height: 400px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
}

.bodyButton {
  display: block;
  margin: auto;
  border: 2px solid gray;
  height: 25px;
  width: 250px;
  background-color: white;
  margin-top: 10px;
}

h1 {
  color: salmon;
  text-align: center;
}

form {
  display: inline;
}

#liveThereVid {
  background-color: gray;
  height: 300px;
}

#bookingBar {
  height: 40px;
  margin-top: -40px;
}

#guideButton {
  display: block;
  margin: 0 auto;
}

.subHeader > p {
  text-align: center;
}

.divContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.divContainer > div {
  flex: 1 1 auto;
  margin: 5px;
}

.desinationPics {
  /*background-image: url("../img/london.jpg");*/
  height: 250px;
  width: 250px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
}

.desinationPics img {

}
#sanFran {
  background-image: url("../img/san-francisco.jpg");
}
#newYork {
  background-image: url("../img/new-york.jpg");
}
#london {
  background-image: url("../img/london.jpg");
}
#napa {
  background-image: url("../img/napa.jpg");
}
#sonoma {
  background-image: url("../img/sonoma.jpg");
}
#sanFran2 {
  background-image: url("../img/san-francisco-2.jpg");
}
